@media (max-width: 800px) {
    .left-arrow {
        margin-left: 10px;
    }

    .right-arrow {
        margin-right: 10px;
    }
}

@media (max-width: 600px) {
    h2 {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .overlay-arrows {
        top: 45%;
        z-index: 5;
    }

    .overlay-arrows img {
        background-color: #3e42465c;
        border-radius: 50px;
    }
}

@media (max-width: 470px) {
    .pokedex {
        width: 90%;
    }

    .pokemon-image {
        height: 230px;
        top: 15%;
    }

    .stat-name {
        width: 200px;
    }

    .overview-card {
        margin: 10px;
    }

    h2 {
        font-size: 22px;
    }
}

@media (max-width: 400px) {
    h2 {
        padding-left: 4px;
        padding-right: 4px;
    }

    .pokemon-details {
        padding-left: 5px;
        padding-right: 5px;
    }

    .about-section,
    .base-stats-section,
    .moves-section {
        padding-left: 20px;
        padding-right: 20px;
    }
}