body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #4fc3f7, #81d4fa, #b3e0f5, #e1f5fe);
}

#pokedex {
    min-height: 90vh;
    background: rgb(0, 128, 96);
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
}

#pokemon-info {
    height: 50%;
    width: 25%;
    padding: 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative; /* Relative Position für die Positionierung des Bildes */
}

.image-of-pokemon-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#pokemon-image {
    position: absolute; /* Absolute Position innerhalb des relativen Containers */
    border-radius: 50%; /* Abgerundete Ecken für das Bild */
    bottom: 20%;
    height: 85%;
    width: auto;
    object-fit: cover;
    z-index: 0;
    image-rendering: pixelated;
    image-rendering: crisp-edges; /* Alternative Einstellung für bestimmte Browser */
    max-width: 100%; /* Verhindert, dass das Bild über seinen Container hinausgeht */
    max-height: 100%; /* Verhindert, dass das Bild über seinen Container hinausgeht */
}

.headline-description {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    z-index: 1;
}

h2 {
    cursor: pointer;
}

h2:hover {
    text-decoration: underline;
}

#pokemon-details {
    background-color: white;
    color: black;
    height: 40vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 12px;
    width: 100%;
}

.about-section.active,
.base-stats-section.active,
.moves-section.active {
    display: block;
}

#pokemon-type,
#pokemon-moves p {
    border: 1px solid #ddd;
    background-color: #b2acac1c;
    border-radius: 8px;
    padding: 4px;
    margin: 5px 0; /* Zusätzlicher Abstand zwischen den <li> Elementen */
    text-align: center;
}

#pokemon-moves-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
    overflow-y: auto;
    max-height: 180px;
    padding: 8px;
}

.info-item{
    display: flex;
    justify-content: space-between;
}

.info-label{
    width: 100px;
}

.info-value{
    width: 50%;
}

.stat-container{
    display: flex;
    justify-content: space-between;
}

.stat-name{
    width: 100px;
    margin-right: 50%;
} 

.stat-value{
    width: 50%;
}

#overview-card {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background-color: #fff;
    border-radius: 10px;
    margin: 20px;
}

.pokemon-info-overview {
    text-align: left;
}

.pokemon-image-overview {
    text-align: center;
}

#overview-image {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    object-fit: cover;
}

