body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #4fc3f7, #81d4fa, #b3e0f5, #e1f5fe);
    flex-wrap: wrap;
}

.pokedex {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    height: 90vh;
    width: 430px;
    min-height: 90vh;
    background: rgb(0, 128, 96);
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: auto;
    z-index: 2;
}


.pokemon-info {
    height: 50%;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    position: relative;
    /* Relative Position für die Positionierung des Bildes */
}

.image-of-pokemon-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-image {
    position: absolute;
    /* Absolute Position innerhalb des relativen Containers */
    border-radius: 50%;
    /* Abgerundete Ecken für das Bild */
    bottom: 20%;
    top: 10%;
    height: 280px;
    width: auto;
    object-fit: cover;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    /* Alternative Einstellung für bestimmte Browser */
    max-width: 100%;
    /* Verhindert, dass das Bild über seinen Container hinausgeht */
    max-height: 100%;
    /* Verhindert, dass das Bild über seinen Container hinausgeht */
}

.headline-description {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-bottom: 1px solid lightgrey;

}

h2 {
    cursor: pointer;
    font-size: 22px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 0 !important;
    color: grey !important;
}

.text-decoration-underline {
    margin-bottom: 0;
    color: black !important;
    text-decoration: none !important;
}

.h2-decoration{
    margin-bottom: 0;
    color: black !important;
    border-bottom: 4px solid black;
}

.pokemon-details {
    background-color: white;
    color: black;
    height: 45vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
}

.base-stats-section {
    overflow-y: auto;
    /* Hinzugefügt: Scrollbalken bei Bedarf anzeigen */
    max-height: 100%;
    /* Maximal auf die Höhe des Containers beschränken */
    /* Andere Eigenschaften bleiben unverändert */
}


.about-section.active,
.base-stats-section.active,
.moves-section.active {
    display: block;
}



.about-section,
.base-stats-section {
    margin-top: 20px;
}

.about-section,
.base-stats-section,
.moves-section {
    margin-bottom: 0;
}

.pokemon-type,
.pokemon-moves p {
    border: 1px solid #ddd;
    background-color: #b2acac1c;
    border-radius: 8px;
    padding: 4px;
    margin: 5px 0;
    /* Zusätzlicher Abstand zwischen den <li> Elementen */
    text-align: center;
}

.overview-types {
    background-color: #b2acac1c;
    border-radius: 20px;
    border: 1px solid lightgrey;
    width: 70px;
    text-align: center;
    margin-bottom: 5px;
}

.pokemon-moves-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
    overflow-y: auto;
    max-height: 180px;
    padding: 8px;
}

.info-container {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

.info-label {
    width: 100px;
    color: grey;
}

.info-value {
    width: 50%;
}

.stat-container {
    display: flex;
    justify-content: space-between;
}

.stat-name {
    width: 150px;
    margin-right: 20%;
    color: grey;
}

.stat-value {
    width: 50%;
}

.overview-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: #fff;
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
    width: 290px;
    height: 200px;
    background: rgb(0, 128, 96);
    color: white;
}


.overview-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 40px;
}

.overview-name {
    font-weight: bold;
    font-size: 22px;
    margin: 5px 0;
}

.pokemon-info-overview {
    text-align: left;
}

.pokemon-image-overview {
    text-align: center;
}

.overview-image {
    object-position: center;
    /* Optional: Zentriert das Bild innerhalb des Containers */
    border-radius: 50%;
    max-height: 100%;
    height: 180px;
    width: auto;
    max-width: 100%;
}

.overlay {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 1;
}


.close-button {
    font-size: 40px;
    font-weight: bold;
    color: lightgrey;
    background-color: transparent;
    border: none;
    z-index: 3;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.overlay-arrows {
    position: fixed;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.arrow {
    font-size: 40px;
    font-weight: bold;
    color: lightgrey;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.left-arrow {
    margin-left: 10px;
}

.right-arrow {
    margin-right: 10px;
}
